
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffffff;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background-color: #5e5e5e;
  background-image: -moz-linear-gradient(top, #5a5a5a 0%, #5e5e5e 100%);
  background-image: -ms-linear-gradient(top, #5a5a5a 0%, #5e5e5e 100%);
  background-image: -o-linear-gradient(top, #5a5a5a 0%, #5e5e5e 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5a5a5a), color-stop(1, #5e5e5e));
  background-image: -webkit-linear-gradient(top, #5a5a5a 0%, #5e5e5e 100%);
  background-image: linear-gradient(top, #5a5a5a 0%, #5e5e5e 100%);
}
a {
  color: #cd0000;
}
a:hover,
a:focus {
  color: #f80000;
}
a:active {
  color: #ff3434;
}
.sidebar .block {
  background-color: #ffffff;
  border-color: #d0d0d0;
}
#page-wrapper,
#footer-wrapper {
  background: #565657;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #ffffff;
}
